* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vescona';
  src: url(../fonts/Vescona.ttf);
}

.body-index {

  background-image: url(../img/75567.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.titulos {
  background-color: rgb(88, 107, 87);
}

.titulo {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Vescona';
  font-size: 4em;
}


 #saludo {
  background-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgb(255, 255, 255);
  margin-top: 2em;
  text-align: center;
 padding-left: 1em;
 padding-right: 1em;

 }

 #saludo span {
  color: yellow;
 }
  
 

 .ini-pedido {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .icono {
  margin-right: 7px;
 }

 .btn-ini-pedido{
  color: yellow;
  justify-content: center;
  font-size: 21px;
  padding: 10px 15px 10px 15px;
  margin-top:5em;
  border-radius: 20px;
 }

 .modal-ingresar{
  background-image: url(/img/fondoModal.jpg);
  background-color: rgba(218, 210, 210, 0.815);
  border-width: 2px;
  border-color: yellow;
 }

 .btn-close{
  background-color: rgb(255, 255, 255);
 }

 .modal-ingresar h3, label{
  color: white;
 }

 .modal-ingresar label{
  margin-bottom: 10px;
  /* font-weight: bolder; */
 }

 .form-check-input:checked{
  background-color: black;
  border-color: yellow;
 }


#contenedor {
  display: grid;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
}

.card-precio {
  font-weight: bold;
}

.btn-añadir {
 display: flex;
flex-direction: column;
  justify-content: center;
}




/* Modal Carrito */

/* .modal-items{
  margin: 5px 0;
  display: flex;
  text-align: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #cacaca; 
}

.modal-items div{
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 15px;
  width: 15em;
} */


.productoEnCarrito {
  margin: 5px 0;
  display: flex;
  text-align: center;
}

.productoEnCarrito p {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 15px;
  width: 15em;
}

.delete{
  max-height: 38px;
}


.modal-footer {
  justify-content: space-between
}

.modal-footer h3{
  font-size: 20px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}


/* Botón ver mi pedido */
.boton-carrito {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  bottom: 5px;
  padding-top: 13px;
  padding-bottom: 8px;
  border-radius: 2em;
  min-width: 90%;
}

.boton-carrito i {
  margin-top: 4px;
}

.inf-pedido {
  margin-inline: 1em;
}

.boton-carrito h5 {
  font-weight: bold;
  font-size: 17px;
}